.tuva-grid {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: (1);
    gap: 1.5rem;
    padding: 2rem;
    justify-content: right;
}

.tuva-card {
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.bilde {
    width: 300px;
    height: 300px;
    
    object-fit: cover;
    border-radius: 50%;
    border: 6px white;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);}

.tekst {
    text-align: right;
    padding: 20px 0;
    
}

.tekst h1 {
    font-size: 2.5rem;
}

.timeplan {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.timeplan h2 {
    text-align: center;
    color: #1976d2;
}

table {
    width: 100%;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #1976d2;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f0f4f8;
}
